.header {
  display: flex;
  padding: 10px 20px 10px 10px;
  background-color: #282c34;
  color: #fff;
  justify-content: space-between;
}

.subHeader {
  display: flex;
  padding: 10px 20px 10px 10px;
  justify-content: space-between;
}

.header div,.subHeader div {
cursor: pointer;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.row>* {
  flex: 0 1 20%; 
}

@media only screen and (max-width: 600px) {
  .row>* {
    flex: 0 1 50%; 
  }
}

